<div class="container-fluid" id="variacion_del_precio">
    <div class="d-flex justify-content-between">
        <div >
            <h3>Variacion del precio</h3>
        </div>
        <div >Actualizado: {{lastUpdate}}</div>  
    </div>
            
    <table class="table table-sm table-striped">
        <thead>
            <tr class="strong">
                <td>ID</td>
                 <td>Ultimos 15m</td>
                <td>% 1m</td>
                <td>% 3m</td>
                <td>% 5m</td>
                <td>% 15m</td>
                <td>% 1h</td>
            </tr>
        </thead>
        <tbody>
            {{#each tikers}}
                {{#if name}}
                    <tr>
                        <td>{{name}} (USD {{price}})</td>
                        <td>{{sumLast15m}}</td>
                        <td>{{perc_1m}}</td>
                        <td>{{perc_3m}}</td>
                        <td>{{perc_5m}}</td>
                        <td>{{perc_15m}}</td>
                        <td>{{perc_1h}}</td>
                    </tr>
                {{/if}}
            {{else}}
                <td class="text-warning" colspan="23">
                    No se encontraron registros
                </td>
            {{/each}}
            
        </tbody >
    </table>
</div>